<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="col-md-3" style="width:700px">
						<a href="#"><img src="/images/ikone.png" style="width:500px" /></a>
					</div>
					
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /social -->