<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="col-md-3">
						<a href="#"><img src="../assets/fb.png" alt=""></a>
					</div>
					<div class="col-md-3">
						<a href="#"><img src="../assets/li.png" alt=""></a>
					</div>
					<div class="col-md-3">
						<a href="#"><img src="../assets/Twitter.png" alt=""></a>
					</div>
					<div class="col-md-3">
							<a href="#"><img src="../assets/Google Plus.png" alt=""></a>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /social -->