<p id="notice"><%= notice %></p>

<p>
  <strong>Salutation:</strong>
  <%= @salutation.salutation %>
</p>

<%= link_to 'Edit', edit_salutation_path(@salutation) %> |
<%= link_to 'Back', salutations_path %>
