
	    <div class="container ">
	    <h1 class="centerMe">About Us</h1>

	    <p style="padding-top:20px;">We are a team of undergratuate engineering student who joined toghether at a startup 

workshop to make this web-application. We believe in enouraging people to use less electricity, 

and one way to do so is to point out the economical benefits which comes with saving electricity. 

For the non-scientistit is not easy to predict when an investment in new windows will pay 

off, and our mission is to make it easy, and intuitive for the everyone to see the benefits with 

upgrading your house.</p>

	    <div id="lineImg">
  			<div>
  				<img src="../assets/ben.jpg" alt="" class="worker">
  				<label class="l1">Benjamin Chris</label>
  			</div>

  			<div>
  				<img src="../assets/chris.jpg" alt="" class="worker">
  				<label class="l2">Christian Glaser</label>
  			</div>

  			<div>
  				<img src="../assets/izabela.jpg" alt="" class="worker">
  				<label class="l3">Izabela Gucunski</label>
  			</div>

  			<div>
  			<img src="../assets/nikola.jpg" alt="" class="worker">
  			<label class="l4">Nikola Mojic</label>
	        </div>
	    </div> <!-- /container -->
	